<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Modify The Drinkers Table</h1>
    </div>
</div>
<br><br>


<div class = "container">
    <form method = "POST" action ="/api/modDrinkers">
      <h2>Insert Into Drinkers</h2>
      <br>
      <Label for="drinkerName">Drinker Name:</Label>
      <input type="text" name = "drinkerName">
      <br>
      <Label for="state">State:</Label>
      <input type="text" name = "state">
      <br>
      <Label for="phoneNum">Phone Number:</Label>
      <input type="text" name = "phoneNum">
      <br>
      <Label for="address">Address:</Label>
      <input type="text" name = "address">
      <br>
      <br>
      <button type = "submit" class="btn btn-primary"> Submit</button>
    </form>
  </div>
<br>
<br>

<div class = "container">
    <form method = "POST" action = "/api/modDrinkersUp">
      <h2>Update Drinkers CurrentValues</h2>
      <br>
      <Label for="drinkerName">Drinker Name:</Label>
      <input type="text" name = "drinkerName">
      <br>
      <Label for="state">State:</Label>
      <input type="text" name = "state">
      <br>
      <Label for="phoneNum">Phone Number:</Label>
      <input type="text" name = "phoneNum">
      <br>
      <Label for="address">Address:</Label>
      <input type="text" name = "address">
      <br>
      <br>
      <h2>Update Drinkers New Values</h2>
      <br>
      <Label for="drinkerNameNew">Drinker Name:</Label>
      <input type="text" name = "drinkerNameNew">
      <br>
      <Label for="stateNew">State:</Label>
      <input type="text" name = "stateNew">
      <br>
      <Label for="phoneNumNew">Phone Number:</Label>
      <input type="text" name = "phoneNumNew">
      <br>
      <Label for="addressNew">Address:</Label>
      <input type="text" name = "addressNew">
      <br>
      <br>
      <input type = "submit" name = "upSubmit">
    </form>
  </div>
<br>
<br>

<div class = "container">
    <form method = "POST" action ="/api/modDrinkersDel">
      <h2>Delete From Drinkers</h2>
      <br>
      <Label for="drinkerName">Drinker Name:</Label>
      <input type="text" name = "drinkerName">
      <br>
      <Label for="state">State:</Label>
      <input type="text" name = "state">
      <br>
      <Label for="phoneNum">Phone Number:</Label>
      <input type="text" name = "phoneNum">
      <br>
      <Label for="address">Address:</Label>
      <input type="text" name = "address">
      <br>
      <br>
      <button type = "submit" class="btn btn-primary"> Submit</button>
    </form>
  </div>
<br>