<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The Bars Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modBars">
    <h2>Insert Into Bars</h2>
    <br>
    <Label for="barName">Bar Name:</Label>
    <input type="text" name = "barName">
    <br>
    <Label for="state">State:</Label>
    <input type="text" name = "state">
    <br>
    <Label for="phone">Phone Number:</Label>
    <input type="text" name = "phone">
    <br>
    <Label for="addr">Address:</Label>
    <input type="text" name = "addr">
    <br>
    <Label for="open">Opening Time (HH:MM:SS):</Label>
    <input type="text" name = "open">
    <br>
    <Label for="close">Closing Time (HH:MM:SS):</Label>
    <input type="text" name = "close">
    <br>
    <Label for="lic">License:</Label>
    <input type="text" name = "lic">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modBarsUp">
    <h2>Update Bars Current Values</h2>
    <br>
    <Label for="barName">Bar Name:</Label>
    <input type="text" name = "barName">
    <br>
    <Label for="state">State:</Label>
    <input type="text" name = "state">
    <br>
    <Label for="phone">Phone Number:</Label>
    <input type="text" name = "phone">
    <br>
    <Label for="addr">Address:</Label>
    <input type="text" name = "addr">
    <br>
    <Label for="open">Opening Time (HH:MM:SS):</Label>
    <input type="text" name = "open">
    <br>
    <Label for="close">Closing Time (HH:MM:SS):</Label>
    <input type="text" name = "close">
    <br>
    <Label for="lic">License:</Label>
    <input type="text" name = "lic">
    <br>
    <br>
    <h2>Update Bars New Values</h2>
    <br>
    <Label for="barNameNew">Bar Name:</Label>
    <input type="text" name = "barNameNew">
    <br>
    <Label for="stateNew">State:</Label>
    <input type="text" name = "stateNew">
    <br>
    <Label for="phoneNew">Phone Number:</Label>
    <input type="text" name = "phoneNew">
    <br>
    <Label for="addrNew">Address:</Label>
    <input type="text" name = "addrNew">
    <br>
    <Label for="openNew">Opening Time (HH:MM:SS):</Label>
    <input type="text" name = "openNew">
    <br>
    <Label for="closeNew">Closing Time (HH:MM:SS):</Label>
    <input type="text" name = "closeNew">
    <br>
    <Label for="licNew">License:</Label>
    <input type="text" name = "licNew">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modBarsDel">
    <h2>Delete A Bar</h2>
    <br>
    <Label for="barName">Bar Name:</Label>
    <input type="text" name = "barName">
    <br>
    <Label for="state">State:</Label>
    <input type="text" name = "state">
    <br>
    <Label for="phone">Phone Number:</Label>
    <input type="text" name = "phone">
    <br>
    <Label for="addr">Address:</Label>
    <input type="text" name = "addr">
    <br>
    <Label for="open">Opening Time (HH:MM:SS):</Label>
    <input type="text" name = "open">
    <br>
    <Label for="close">Closing Time (HH:MM:SS):</Label>
    <input type="text" name = "close">
    <br>
    <Label for="lic">License:</Label>
    <input type="text" name = "lic">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>