<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The BeersOrdered Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modBord">
    <h2>Insert Into BeersOrdered</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beercount">BeerCount:</Label>
    <input type="text" name = "beercount">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>


<div class = "container">
  <form method = "POST" action ="/api/modBordUp">
    <h2>Update BeersOrdered Current Values</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beercount">BeerCount:</Label>
    <input type="text" name = "beercount">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <br>
    <h2>Update BeersOrdered New Values</h2>
    <br>
    <Label for="idNew">ID:</Label>
    <input type="text" name = "idNew">
    <br>
    <Label for="barNew">Bar:</Label>
    <input type="text" name = "barNew">
    <br>
    <Label for="drinkerNew">Drinker:</Label>
    <input type="text" name = "drinkerNew">
    <br>
    <Label for="beercountNew">BeerCount:</Label>
    <input type="text" name = "beercountNew">
    <br>
    <Label for="beerNew">Beer:</Label>
    <input type="text" name = "beerNew">
    <br>
    <Label for="dateNew">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "dateNew">
    <br>
    <Label for="timeNew">Time (HH:MM:SS):</Label>
    <input type="text" name = "timeNew">
    <br>
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>


<div class = "container">
  <form method = "POST" action ="/api/modBordDel">
    <h2>Delete BeersOrdered</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beercount">BeerCount:</Label>
    <input type="text" name = "beercount">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>