<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The Bills Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modBills">
    <h2>Insert Into Bills</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="items">Items:</Label>
    <input type="text" name = "items">
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <Label for="tip">Tip:</Label>
    <input type="text" name = "tip">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modBillsUp">
    <h2>Update Bills Current Values</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="items">Items:</Label>
    <input type="text" name = "items">
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <Label for="tip">Tip:</Label>
    <input type="text" name = "tip">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <br>
    <h2>Update Bills New Values</h2>
    <br>
    <Label for="idNew">ID:</Label>
    <input type="text" name = "idNew">
    <br>
    <Label for="itemsNew">Items:</Label>
    <input type="text" name = "itemsNew">
    <br>
    <Label for="priceNew">Price:</Label>
    <input type="text" name = "priceNew">
    <br>
    <Label for="tipNew">Tip:</Label>
    <input type="text" name = "tipNew">
    <br>
    <Label for="barNew">Bar:</Label>
    <input type="text" name = "barNew">
    <br>
    <Label for="timeNew">Time (HH:MM:SS):</Label>
    <input type="text" name = "timeNew">
    <br>
    <Label for="drinkerNew">Drinker:</Label>
    <input type="text" name = "drinkerNew">
    <br>
    <Label for="dateNew">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "dateNew">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modBillsDel">
    <h2>Delete A Bill</h2>
    <br>
    <Label for="id">ID:</Label>
    <input type="text" name = "id">
    <br>
    <Label for="items">Items:</Label>
    <input type="text" name = "items">
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <Label for="tip">Tip:</Label>
    <input type="text" name = "tip">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="time">Time (HH:MM:SS):</Label>
    <input type="text" name = "time">
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="date">Date (YYYY/MM/DD):</Label>
    <input type="text" name = "date">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>