<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The Likes Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modLikes">
    <h2>Insert Into Likes</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>
<div class = "container">
  <form method = "POST" action ="/api/modLikesUp">
    <h2>Update Likes Current Values</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <br>
    <h2>Update Likes New Values</h2>
    <br>
    <Label for="drinkerNew">Drinker:</Label>
    <input type="text" name = "drinkerNew">
    <br>
    <Label for="beerNew">Beer:</Label>
    <input type="text" name = "beerNew">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>
<div class = "container">
  <form method = "POST" action ="/api/modLikesDel">
    <h2>Delete Likes</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>
