<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The Frequents Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modFreq">
    <h2>Insert Into Frequents</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>


<div class = "container">
  <form method = "POST" action ="/api/modFreqUp">
    <h2>Update Frequents Current Values</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <br>
    <h2>Update Frequents New Values</h2>
    <br>
    <Label for="drinkerNew">Drinker:</Label>
    <input type="text" name = "drinkerNew">
    <br>
    <Label for="barNew">Bar:</Label>
    <input type="text" name = "barNew">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>


<div class = "container">
  <form method = "POST" action ="/api/modFreqDel">
    <h2>Delete Frequents</h2>
    <br>
    <Label for="drinker">Drinker:</Label>
    <input type="text" name = "drinker">
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>