<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify The Sells Table</h1>
  </div>
</div>
<br><br>


<div class = "container">
  <form method = "POST" action ="/api/modSells">
    <h2>Insert Into Sells</h2>
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modSellsUp">
    <h2>Update Sells Old Values</h2>
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <br>
    <h2>Update Sells New Values</h2>
    <br>
    <Label for="barNew">Bar:</Label>
    <input type="text" name = "barNew">
    <br>
    <Label for="beerNew">Beer:</Label>
    <input type="text" name = "beerNew">
    <br>
    <Label for="priceNew">Price:</Label>
    <input type="text" name = "priceNew">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>

<div class = "container">
  <form method = "POST" action ="/api/modSellsDel">
    <h2>Delete Sells</h2>
    <br>
    <Label for="bar">Bar:</Label>
    <input type="text" name = "bar">
    <br>
    <Label for="beer">Beer:</Label>
    <input type="text" name = "beer">
    <br>
    <Label for="price">Price:</Label>
    <input type="text" name = "price">
    <br>
    <br>
    <button type = "submit" class="btn btn-primary"> Submit</button>
  </form>
</div>
<br>
<br>